<h1>welcome to the {{title}} </h1>
<h2>Using your weight and your heigt this app will calculate your Body Mass Index</h2>
<p><a href="/views/bmi-Calc.hbs">This link leads to the BMI Calculator</a></p>