<!--combines html and data form the sever to create webpages-->
<h1>Welcome to the {{title}}</h1><!--will replace title with index js title:'Feedback Application' -->
<p> A web app by {{author}}</p>
<P>you loaded this page at {{timePageLoadedAt}}</P>

<p><a href="/feedback-form">Submit feedback here</a></p>