<h1>Thank you</h1>
<h2>thank you for your feedback here is the data we recived</h2>

<h3>Name: {{name}}</h3>
<h3>Email: {{email}}</h3>
<h3>Comment: {{comments}}</h3>
<h3>Current Student?: {{current_student}}</h3>

<p><a href="localhost:3000"></a></p>